In [5]:
import xgboost

In [6]:
import pandas as pd

In [10]:
df_census = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)

In [11]:
df_census.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
df_census.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

In [13]:
df_census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
df_census=df_census.drop('education',axis=1)

In [16]:
df_census.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [17]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(8)
memory usage: 3.5+ MB

In [18]:
df_census = pd.get_dummies(df_census)

In [19]:
df_census.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income_ <=50K,income_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 94 columns):
age                                           32561 non-null int64
fnlwgt                                        32561 non-null int64
education-num                                 32561 non-null int64
capital-gain                                  32561 non-null int64
capital-loss                                  32561 non-null int64
hours-per-week                                32561 non-null int64
workclass_ ?                                  32561 non-null uint8
workclass_ Federal-gov                        32561 non-null uint8
workclass_ Local-gov                          32561 non-null uint8
workclass_ Never-worked                       32561 non-null uint8
workclass_ Private                            32561 non-null uint8
workclass_ Self-emp-inc                       32561 non-null uint8
workclass_ Self-emp-not-inc                   32561 non-null uint8
workclass_ State-gov                          32561 non-null uint8
workclass_ Without-pay                        32561 non-null uint8
marital-status_ Divorced                      32561 non-null uint8
marital-status_ Married-AF-spouse             32561 non-null uint8
marital-status_ Married-civ-spouse            32561 non-null uint8
marital-status_ Married-spouse-absent         32561 non-null uint8
marital-status_ Never-married                 32561 non-null uint8
marital-status_ Separated                     32561 non-null uint8
marital-status_ Widowed                       32561 non-null uint8
occupation_ ?                                 32561 non-null uint8
occupation_ Adm-clerical                      32561 non-null uint8
occupation_ Armed-Forces                      32561 non-null uint8
occupation_ Craft-repair                      32561 non-null uint8
occupation_ Exec-managerial                   32561 non-null uint8
occupation_ Farming-fishing                   32561 non-null uint8
occupation_ Handlers-cleaners                 32561 non-null uint8
occupation_ Machine-op-inspct                 32561 non-null uint8
occupation_ Other-service                     32561 non-null uint8
occupation_ Priv-house-serv                   32561 non-null uint8
occupation_ Prof-specialty                    32561 non-null uint8
occupation_ Protective-serv                   32561 non-null uint8
occupation_ Sales                             32561 non-null uint8
occupation_ Tech-support                      32561 non-null uint8
occupation_ Transport-moving                  32561 non-null uint8
relationship_ Husband                         32561 non-null uint8
relationship_ Not-in-family                   32561 non-null uint8
relationship_ Other-relative                  32561 non-null uint8
relationship_ Own-child                       32561 non-null uint8
relationship_ Unmarried                       32561 non-null uint8
relationship_ Wife                            32561 non-null uint8
race_ Amer-Indian-Eskimo                      32561 non-null uint8
race_ Asian-Pac-Islander                      32561 non-null uint8
race_ Black                                   32561 non-null uint8
race_ Other                                   32561 non-null uint8
race_ White                                   32561 non-null uint8
sex_ Female                                   32561 non-null uint8
sex_ Male                                     32561 non-null uint8
native-country_ ?                             32561 non-null uint8
native-country_ Cambodia                      32561 non-null uint8
native-country_ Canada                        32561 non-null uint8
native-country_ China                         32561 non-null uint8
native-country_ Columbia                      32561 non-null uint8
native-country_ Cuba                          32561 non-null uint8
native-country_ Dominican-Republic            32561 non-null uint8
native-country_ Ecuador                       32561 non-null uint8
native-country_ El-Salvador                   32561 non-null uint8
native-country_ England                       32561 non-null uint8
native-country_ France                        32561 non-null uint8
native-country_ Germany                       32561 non-null uint8
native-country_ Greece                        32561 non-null uint8
native-country_ Guatemala                     32561 non-null uint8
native-country_ Haiti                         32561 non-null uint8
native-country_ Holand-Netherlands            32561 non-null uint8
native-country_ Honduras                      32561 non-null uint8
native-country_ Hong                          32561 non-null uint8
native-country_ Hungary                       32561 non-null uint8
native-country_ India                         32561 non-null uint8
native-country_ Iran                          32561 non-null uint8
native-country_ Ireland                       32561 non-null uint8
native-country_ Italy                         32561 non-null uint8
native-country_ Jamaica                       32561 non-null uint8
native-country_ Japan                         32561 non-null uint8
native-country_ Laos                          32561 non-null uint8
native-country_ Mexico                        32561 non-null uint8
native-country_ Nicaragua                     32561 non-null uint8
native-country_ Outlying-US(Guam-USVI-etc)    32561 non-null uint8
native-country_ Peru                          32561 non-null uint8
native-country_ Philippines                   32561 non-null uint8
native-country_ Poland                        32561 non-null uint8
native-country_ Portugal                      32561 non-null uint8
native-country_ Puerto-Rico                   32561 non-null uint8
native-country_ Scotland                      32561 non-null uint8
native-country_ South                         32561 non-null uint8
native-country_ Taiwan                        32561 non-null uint8
native-country_ Thailand                      32561 non-null uint8
native-country_ Trinadad&Tobago               32561 non-null uint8
native-country_ United-States                 32561 non-null uint8
native-country_ Vietnam                       32561 non-null uint8
native-country_ Yugoslavia                    32561 non-null uint8
income_ <=50K                                 32561 non-null uint8
income_ >50K                                  32561 non-null uint8
dtypes: int64(6), uint8(88)
memory usage: 4.2 MB

In [22]:
df_census = df_census.drop('income_ <=50K',axis=1)

In [23]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 93 columns):
age                                           32561 non-null int64
fnlwgt                                        32561 non-null int64
education-num                                 32561 non-null int64
capital-gain                                  32561 non-null int64
capital-loss                                  32561 non-null int64
hours-per-week                                32561 non-null int64
workclass_ ?                                  32561 non-null uint8
workclass_ Federal-gov                        32561 non-null uint8
workclass_ Local-gov                          32561 non-null uint8
workclass_ Never-worked                       32561 non-null uint8
workclass_ Private                            32561 non-null uint8
workclass_ Self-emp-inc                       32561 non-null uint8
workclass_ Self-emp-not-inc                   32561 non-null uint8
workclass_ State-gov                          32561 non-null uint8
workclass_ Without-pay                        32561 non-null uint8
marital-status_ Divorced                      32561 non-null uint8
marital-status_ Married-AF-spouse             32561 non-null uint8
marital-status_ Married-civ-spouse            32561 non-null uint8
marital-status_ Married-spouse-absent         32561 non-null uint8
marital-status_ Never-married                 32561 non-null uint8
marital-status_ Separated                     32561 non-null uint8
marital-status_ Widowed                       32561 non-null uint8
occupation_ ?                                 32561 non-null uint8
occupation_ Adm-clerical                      32561 non-null uint8
occupation_ Armed-Forces                      32561 non-null uint8
occupation_ Craft-repair                      32561 non-null uint8
occupation_ Exec-managerial                   32561 non-null uint8
occupation_ Farming-fishing                   32561 non-null uint8
occupation_ Handlers-cleaners                 32561 non-null uint8
occupation_ Machine-op-inspct                 32561 non-null uint8
occupation_ Other-service                     32561 non-null uint8
occupation_ Priv-house-serv                   32561 non-null uint8
occupation_ Prof-specialty                    32561 non-null uint8
occupation_ Protective-serv                   32561 non-null uint8
occupation_ Sales                             32561 non-null uint8
occupation_ Tech-support                      32561 non-null uint8
occupation_ Transport-moving                  32561 non-null uint8
relationship_ Husband                         32561 non-null uint8
relationship_ Not-in-family                   32561 non-null uint8
relationship_ Other-relative                  32561 non-null uint8
relationship_ Own-child                       32561 non-null uint8
relationship_ Unmarried                       32561 non-null uint8
relationship_ Wife                            32561 non-null uint8
race_ Amer-Indian-Eskimo                      32561 non-null uint8
race_ Asian-Pac-Islander                      32561 non-null uint8
race_ Black                                   32561 non-null uint8
race_ Other                                   32561 non-null uint8
race_ White                                   32561 non-null uint8
sex_ Female                                   32561 non-null uint8
sex_ Male                                     32561 non-null uint8
native-country_ ?                             32561 non-null uint8
native-country_ Cambodia                      32561 non-null uint8
native-country_ Canada                        32561 non-null uint8
native-country_ China                         32561 non-null uint8
native-country_ Columbia                      32561 non-null uint8
native-country_ Cuba                          32561 non-null uint8
native-country_ Dominican-Republic            32561 non-null uint8
native-country_ Ecuador                       32561 non-null uint8
native-country_ El-Salvador                   32561 non-null uint8
native-country_ England                       32561 non-null uint8
native-country_ France                        32561 non-null uint8
native-country_ Germany                       32561 non-null uint8
native-country_ Greece                        32561 non-null uint8
native-country_ Guatemala                     32561 non-null uint8
native-country_ Haiti                         32561 non-null uint8
native-country_ Holand-Netherlands            32561 non-null uint8
native-country_ Honduras                      32561 non-null uint8
native-country_ Hong                          32561 non-null uint8
native-country_ Hungary                       32561 non-null uint8
native-country_ India                         32561 non-null uint8
native-country_ Iran                          32561 non-null uint8
native-country_ Ireland                       32561 non-null uint8
native-country_ Italy                         32561 non-null uint8
native-country_ Jamaica                       32561 non-null uint8
native-country_ Japan                         32561 non-null uint8
native-country_ Laos                          32561 non-null uint8
native-country_ Mexico                        32561 non-null uint8
native-country_ Nicaragua                     32561 non-null uint8
native-country_ Outlying-US(Guam-USVI-etc)    32561 non-null uint8
native-country_ Peru                          32561 non-null uint8
native-country_ Philippines                   32561 non-null uint8
native-country_ Poland                        32561 non-null uint8
native-country_ Portugal                      32561 non-null uint8
native-country_ Puerto-Rico                   32561 non-null uint8
native-country_ Scotland                      32561 non-null uint8
native-country_ South                         32561 non-null uint8
native-country_ Taiwan                        32561 non-null uint8
native-country_ Thailand                      32561 non-null uint8
native-country_ Trinadad&Tobago               32561 non-null uint8
native-country_ United-States                 32561 non-null uint8
native-country_ Vietnam                       32561 non-null uint8
native-country_ Yugoslavia                    32561 non-null uint8
income_ >50K                                  32561 non-null uint8
dtypes: int64(6), uint8(87)
memory usage: 4.2 MB

In [24]:
X= df_census.iloc[:,:-1]
y = df_census.iloc[:,-1]